schema/provisioning/entities/applicationStatus-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://omc.dowjones.com/schema/provisioning/entities/applicationStatus/v1_0"
	xmlns:tns="http://omc.dowjones.com/schema/provisioning/entities/applicationStatus/v1_0"
	elementFormDefault="qualified">



    <complexType name="ApplicationStatus">
    	<sequence>
    		<element name="applicationName" maxOccurs="1" minOccurs="1"
    			type="string">

    		</element>
    		<element name="statusName" maxOccurs="1" minOccurs="1"
    			type="string">

    		</element>
    	</sequence>
    </complexType>
</schema>