schema/provisioning/entities/authorizedEntitlement-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://omc.dowjones.com/schema/provisioning/entities/authorizedEntitlement/v1_0"
	xmlns:tns="http://omc.dowjones.com/schema/provisioning/entities/authorizedEntitlement/v1_0"
	elementFormDefault="qualified">

    <complexType name="AuthorizedEntitlement">
    	<sequence>
    		<element name="applicationName" maxOccurs="1" minOccurs="1"
    			type="string">

    		</element>
    		<element name="entitlementName" maxOccurs="1" minOccurs="1"
    			type="string">

    		</element>
    	</sequence>
    </complexType>
</schema>