schema/provisioning/service-contracts/identityService-3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://omc.dowjones.com/schema/provisioning/servicecontracts/identityService/v3_0"
	xmlns:tns="http://omc.dowjones.com/schema/provisioning/servicecontracts/identityService/v3_0"
	elementFormDefault="qualified"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0" 
	xmlns:bIdent="http://omc.dowjones.com/schema/provisioning/entities/baseIdentity/v2_0"
	xmlns:appStat="http://omc.dowjones.com/schema/provisioning/entities/applicationStatus/v1_0"
	xmlns:subEnt="http://omc.dowjones.com/schema/provisioning/entities/subscriptionEntitlement/v2_0"
	xmlns:authEnt="http://omc.dowjones.com/schema/provisioning/entities/authorizedEntitlement/v1_0"
	xmlns:authFeat="http://omc.dowjones.com/schema/provisioning/entities/authorizedFeature/v1_0"
	xmlns:types="http://omc.dowjones.com/schema/provisioning/types/v1_0">

    <import schemaLocation="../types/provisioning-types-1.0.xsd" namespace="http://omc.dowjones.com/schema/provisioning/types/v1_0"></import>
    <import schemaLocation="../entities/authorizedFeature-1.0.xsd" namespace="http://omc.dowjones.com/schema/provisioning/entities/authorizedFeature/v1_0"></import>
    <import schemaLocation="../entities/authorizedEntitlement-1.0.xsd" namespace="http://omc.dowjones.com/schema/provisioning/entities/authorizedEntitlement/v1_0"></import>
    <import schemaLocation="../entities/subscriptionEntitlement-2.0.xsd" namespace="http://omc.dowjones.com/schema/provisioning/entities/subscriptionEntitlement/v2_0"></import>
    <import schemaLocation="../entities/applicationStatus-1.0.xsd" namespace="http://omc.dowjones.com/schema/provisioning/entities/applicationStatus/v1_0"></import>
	<import schemaLocation="../entities/baseIdentity-2.0.xsd" namespace="http://omc.dowjones.com/schema/provisioning/entities/baseIdentity/v2_0"></import>

	<element name="createIdentityRequest">
		<complexType>
			<complexContent>
				<extension base="bIdent:BaseIdentity">
					<sequence>
						<element name="password" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="requestingApplicationName" type="string" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="createIdentityResponse">
		<complexType>
			<sequence>
				<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
			</sequence>
		</complexType>
	</element>
	<element name="getIdentityRequest">
		<complexType>
			<sequence>
				<element name="identityUUID" type="string"></element>
			</sequence>
		</complexType>
	</element>

	<element name="getIdentityResponse">
		<complexType>
			<complexContent>
				<extension base="bIdent:BaseIdentity">
					<sequence>
						<element name="uuid" type="string"></element>
						<element name="legacyUuid" type="string" minOccurs="0" maxOccurs="1" />
						<element name="validated" type="boolean"></element>
						<element name="statuses"
							type="appStat:ApplicationStatus" maxOccurs="unbounded"
							minOccurs="0">
						</element>
						<element name="entitlements"
							type="authEnt:AuthorizedEntitlement" maxOccurs="unbounded"
							minOccurs="0">
						</element>
						<element name="features"
							type="authFeat:AuthorizedFeature" maxOccurs="unbounded" minOccurs="0">
						</element>
						<element name="securityQuestionText" type="string" minOccurs="0" maxOccurs="1" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="changePasswordRequest">
		<complexType>
			<sequence>
				<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="password" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="oldPassword" type="string" maxOccurs="1" minOccurs="1"></element>
			</sequence>
		</complexType>
	</element>

	<element name="changePasswordResponse">
		<complexType></complexType>
	</element>

	<element name="changePasswordHashRequest">
		<complexType>
			<sequence>
				<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="passwordHash" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="hashType" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="oldPasswordHash" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="oldHashType" type="string" maxOccurs="1" minOccurs="1"></element>
			</sequence>
		</complexType>
	</element>

	<element name="changePasswordHashResponse">
		<complexType></complexType>
	</element>

	<element name="resetPasswordRequest">
		<complexType>
			<sequence>
				<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="password" type="string" maxOccurs="1" minOccurs="1"></element>
			</sequence>
		</complexType>
	</element>

	<element name="resetPasswordResponse">
		<complexType></complexType>
	</element>

    <element name="resetPasswordHashRequest">
		<complexType>
			<sequence>
				<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="passwordHash" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="hashType" type="string" maxOccurs="1" minOccurs="1"></element>
			</sequence>
		</complexType>
    </element>

    <element name="resetPasswordHashResponse">
    	<complexType></complexType>
    </element>


    <element name="addIdentityStatusRequest">
    	<complexType>
    		<sequence>
    			<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
    			<element name="applicationName" type="string" maxOccurs="1" minOccurs="1"></element>
    			<element name="statusName" type="string" maxOccurs="unbounded" minOccurs="1">
    			<annotation><appinfo><jxb:property name="statusNames"/></appinfo></annotation>
    			</element>
    			
    		</sequence>
    	</complexType>
    </element>

    <element name="addIdentityStatusResponse">
    	<complexType>
    		<sequence>
    		    <element name="applicationName" type="string" maxOccurs="1" minOccurs="1"></element>
    			<element name="statusName" type="string" maxOccurs="unbounded" minOccurs="1">
    			<annotation><appinfo><jxb:property name="statusNames"/></appinfo></annotation></element>
    		</sequence>
    	</complexType>
    </element>

    <element name="removeIdentityStatusRequest">
    	<complexType>
    		<sequence>
    			<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
    			<element name="applicationName" type="string" maxOccurs="1" minOccurs="1"></element>
    			<element name="statusName" type="string" maxOccurs="unbounded" minOccurs="1">
    			<annotation><appinfo><jxb:property name="statusNames"/></appinfo></annotation></element>
    		</sequence>
    	</complexType>
    </element>

    <element name="removeIdentityStatusResponse">
    	<complexType>
    		<sequence>
    		    <element name="applicationName" type="string" maxOccurs="1" minOccurs="1"></element>
    			<element name="statusName" type="string" maxOccurs="unbounded" minOccurs="1">
    			<annotation><appinfo><jxb:property name="statusNames"/></appinfo></annotation></element>
    		</sequence>
    	</complexType>
    </element>

    <element name="addEntitlementsRequest">
    	<complexType>
    		<complexContent>
    			<extension base="subEnt:SubscriptionEntitlement">
    				<sequence>
						<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
    				</sequence>
    			</extension>
    		</complexContent>
    	</complexType>
    </element>

    <element name="addEntitlementsResponse">
    	<complexType>
			<sequence>
				<element name="entitlements"
					type="authEnt:AuthorizedEntitlement" maxOccurs="unbounded" minOccurs="1">
				</element>
			</sequence>
    	</complexType>
    </element>

    <element name="removeEntitlementsRequest">
    	<complexType>
    		<complexContent>
    			<extension base="subEnt:SubscriptionEntitlement">
    				<sequence>
						<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
    				</sequence>
    			</extension>
    		</complexContent>
    	</complexType>
    </element>

    <element name="removeEntitlementsResponse">
    	<complexType>
			<sequence>
				<element name="entitlements"
					type="authEnt:AuthorizedEntitlement" maxOccurs="unbounded" minOccurs="0">
				</element>
			</sequence>
    	</complexType>
    </element>

    <element name="setValidatedRequest">
    	<complexType>
    		<sequence>
    			<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
    			<element name="validated" type="boolean" maxOccurs="1" minOccurs="1" default="true"></element>
    		</sequence>
    	</complexType>
    </element>

    <element name="setValidatedResponse">
    	<complexType></complexType>
    </element>

	<element name="createMigrationIdentityRequest">
		<complexType>
			<complexContent>
				<extension base="bIdent:BaseIdentity">
					<sequence>
						<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="legacyUuid" type="string" minOccurs="0" maxOccurs="1" />
						<element name="password" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="requestingApplicationName" type="string" maxOccurs="1" minOccurs="1"></element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="createMigrationIdentityResponse">
		<complexType>
			<sequence>
				<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
			</sequence>
		</complexType>
	</element>


	<!-- New Elements -->
	<element name="isIdentityAvailableRequest">	
    	<complexType>
	       	<sequence>
	    		<element name="realm" type="string" maxOccurs="1" minOccurs="1" />
	    		<element name="username" type="string" maxOccurs="1" minOccurs="1" />
	    		<element name="reservationDays" type="integer" maxOccurs="1" minOccurs="0" />
	    	</sequence>
    	</complexType>
    </element>

    <element name="isIdentityAvailableResponse">
    	<complexType>
    		<sequence>
    			<element name="identityUUID" type="string" maxOccurs="unbounded" minOccurs="0" />
    			<element name="reservationUUID" type="string" maxOccurs="1" minOccurs="0" />
    			<element name="reserved" type="boolean" maxOccurs="1" minOccurs="0" />
    		</sequence>
    	</complexType>
    </element>
	
	<element name="updateIdentityRequest">
		<complexType>
			<complexContent>
				<extension base="bIdent:BaseIdentity">
					<sequence>
						<element name="uuid" type="string" maxOccurs="1" minOccurs="1"></element>
						<element name="reservationUuid" type="string" maxOccurs="1" minOccurs="0"></element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="updateIdentityResponse">
		<complexType></complexType>
	</element>
	
	<element name="releaseReservationRequest">
		<complexType>
			<sequence>
				<element name="reservationUUID" type="string" maxOccurs="1" minOccurs="1"></element>
			</sequence>
		</complexType>
	</element>

    <element name="releaseReservationResponse">
    	<complexType></complexType>
    </element>
    
    
    <element name="removeIdentityRequest">
		<complexType>
			<sequence>
				<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
			</sequence>
		</complexType>
	</element>

	<element name="removeIdentityResponse">
		<complexType></complexType>
	</element>



	<element name="changeSecurityQARequest">
		<complexType>
			<sequence>
				<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="password" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="securityQuestionID" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="securityAnswer" type="string" maxOccurs="1" minOccurs="1"></element>
			</sequence>
		</complexType>
	</element>

	<element name="changeSecurityQAResponse">
		<complexType></complexType>
	</element>

	<element name="resetSecurityQARequest">
		<complexType>
			<sequence>
				<element name="identityUUID" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="securityQuestionID" type="string" maxOccurs="1" minOccurs="1"></element>
				<element name="securityAnswer" type="string" maxOccurs="1" minOccurs="1"></element>
			</sequence>
		</complexType>
	</element>

	<element name="resetSecurityQAResponse">
		<complexType></complexType>
	</element>


    
</schema>
